/**
* General web-site main column styles
*/

.wrapper {
  margin-top: 5.313rem;
  position: relative;

  @media only screen and (max-width: $medium) {
    margin-top: 11.725rem;
  }

  @media only screen and (max-width: $small) {
    margin-top: 11.725rem;
  }

  @media only screen and (max-width: 767px) {
    margin-top: 9.725rem;
  }
}
