//Colors variables
$white:#ffffff;
$body-color:#edf2f6;
$border-color:#e6ecf5;
$blue-gray-l2:#78909c; //replace 9a9fbf, 888da8
$stylish-color:#4B515D; //replace 515464, 515365, 4b4e65
$stylish-color-dark:#3E4551; //replace 3f4257
$amber: #ff6f00;
$header-color: #06272f;
$logo-blue: #16859e;
$mdb-primary-color: #4285F4;
$white-grey: #f7f7f9;
$white-grey-menu: #f3f6f8;
